# Redis Configuration

bind {{ redis_bind }}

port {{ redis_port }}

protected-mode {{ redis_protected_mode }}

maxmemory {{ redis_maxmemory }}

maxmemory-policy {{ redis_maxmemory_policy }}

appendonly {{ redis_appendonly }}

daemonize no
